<footer class="border-top footer text-muted">
    <div class="container">
        <p> &copy; 2025 - Smart Inventory System - Designed by Group 24 </p>
        <p>Developed by: Hanson Bani Khaled, Gadise Oli, Ebrahim Al-Serri</p>
    </div>
</footer>