@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-3">Smart Inventory Management System</h1>
    <br></br>
    <!-- Navigation buttons for managing different sections -->
    <div class="row mt-4">
        <div class="col-md-4">
            <a asp-area="ProjectManagement" asp-controller="Categories" asp-action="Index" class="btn btn-primary btn-lg">Manage Categories</a>
        </div>
        <div class="col-md-4">
            <a asp-area="ProjectManagement" asp-controller="Products" asp-action="Index" class="btn btn-success btn-lg">Manage Products</a>
        </div>
        <div class="col-md-4">
            <a asp-area="ProjectManagement" asp-controller="Orders" asp-action="Index" class="btn btn-warning btn-lg">Manage Orders</a>
        </div>
    </div>
</div>
