@model SmartInventorySystem.Areas.ProjectManagement.Models.OrderItem


<h2>Create Order Item</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="OrderId" class="control-label">Select Order</label>
        <select asp-for="OrderId" class="form-control" asp-items="ViewBag.Orders"></select>
    </div>
    
    <div class="form-group">
        <label asp-for="ProductId" class="control-label">Select Product</label>
        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.Products"></select>
    </div>

    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>